/*Schrijf hier jouw CSS*/

body {
    display: flex;
    min-width:100%;
    min-height: 100vh;
}
.col-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;

}

.col-2 {
    flex-basis:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow:1;
    flex-shrink: 0;
}
.col-2-header{
    flex-grow: 0;
    flex-shrink: 1;
}

.col-2-main {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    flex-grow:1;
    flex-shrink: 0;
 }
.row-item {
    flex-basis: 120px;
}
.col-2:nth-of-type(1) {
    flex-grow: 1;
}
.article {
    flex-basis: 700px;
    flex-grow: 2;
}
.col-2:nth-of-type(3) {
    flex-grow: 1;
}
.col-2-footer {
    flex-grow: 0;
    flex-shrink: 1;
}